# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Data / large files (optional - comment out if you want to track CSVs)
# data/*.csv

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
.streamlit/secrets.toml
